@import '../../Variables.scss';

.container {
    width: 90%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 40px;
    color: $grey;
}

.tasks-list {
    margin: 20px 0;
    width: 100%;
    max-width: 530px;
    max-height: 410px;

    .tasks-list__list {
        list-style-type: none;
        padding-left: 0;
        color: $light-grey;
        margin: 30px 0;
    }

    .tasks-list__empty {
        font-size: 20px;
        font-weight: 300;
        color: $light-grey;
        text-align: center;
        margin: 15px 0;
    }
}

.tasks-list__element {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        margin-left: 20px;
    }
}

.tasks-list__btn {
    border-radius: 14px;
    padding: 12px 22px;
    line-height: .67;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    transition: box-shadow .4s;
    text-decoration: none;
    border: none;

    &:hover,
    &:focus {
        box-shadow: 0 3px 6px 0 $grey;
        text-decoration: none;
        cursor: pointer;
    }
}

.tasks-list__btn--resolve {
    background-color: $green;
}

.tasks-list__btn--remove {
    background-color: $red;
}

.task-list__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    .tasks-list__btn {
        background-color: $blue;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tasks-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .tasks-list__title {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: $light-grey;
        margin: 0;
    }

    .tasks-list__btn {
        background-color: $grey-button;
        color: $blue;
    }
}